/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center ;
    background-image: url('https://wallpapers.com/images/featured/boring-9yoqlnjr7z8kdab2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    gap: 20px;
}


h1 {
    background-color: gray;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-top: 45px;
}

button {
    background-color: rgb(235, 231, 33);
    
    font-size: 25px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
}

h2, h3 {
  
  /* background-color: hsla(0, 0%, 100%, 0.826); */
  padding: 10px 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
